Diagnostics:
  ClangTidy:
    Remove: modernize-use-trailing-return-type
    FastCheckFilter: Strict
  UnusedIncludes: None

InlayHints:
  Enabled: false
  BlockEnd: false
  Designators: false
  ParameterNames: true
  DeducedTypes: false
  DefaultArguments: false
  TypeNameLimit: 24
